<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>351736731056-q0thbfllkdnbo980a1s1q4p80al9gamo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.351736731056-q0thbfllkdnbo980a1s1q4p80al9gamo</string>
	<key>API_KEY</key>
	<string>AIzaSyBcUNMqlSM4wVYa_6OiMdBvI6Vcr5ZQryY</string>
	<key>GCM_SENDER_ID</key>
	<string>351736731056</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.ordi.metronolog</string>
	<key>PROJECT_ID</key>
	<string>ordi-metronolog</string>
	<key>STORAGE_BUCKET</key>
	<string>ordi-metronolog.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:351736731056:ios:49461bb9323ad60264f275</string>
</dict>
</plist>